html,
body{   
    overflow-x: hidden;
    position: relative;
    height: 100%;
    font-size: 14px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main {
    flex: 1 0 auto;
    background: #F6F2E7;
}
.footer{
    flex: 0 0 auto;
}
.container{
    margin: 0 auto;
    padding: 0 0.71428rem;
    max-width: 94rem;
    width: 100%;
}
.container_full{
    margin: 0 auto;
    padding: 0 0.71428rem;
    max-width: 98.57142rem;
    width: 100%;
}










