%test_font_normal{
    font-family: 'name font', sans-serif; ;
    font-weight: normal;   
}
%test_font_bold{
    font-family: 'name font', sans-serif; ;
    font-weight: bold;   
}
%Roboto_normal{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;   
}


@function max($numbers...) {
    @return m#{a}x(#{$numbers});
  }
  
  @function min($numbers...) {
    @return m#{i}n(#{$numbers});
  }