@import "reset";
@import "global";
@import "vars";
@import "libs";
@import "fonts";
.header{
    background: #F6F2E7;
    padding: 1.14285rem 0;
    &__inner-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & .menu{
        padding: 0.5rem 0.78571rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 0.07142rem solid #D6D6D6;
        border-radius: 357.14285rem;
        max-width: 52.5rem;
        width: 100%;
        &__list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-item{
                margin: 0 0.85714rem;
            }
            &-item a{
                @extend %Roboto_normal;
                font-size: 1.14285rem;
                line-height: 1.42857rem;
                color: #222222;
            }
        }
        &__item-btn{
            padding: 1.07142rem 1.78571rem;
            background: #0A151B;
            border: 0.07142rem solid #0A151B;
            border-radius: 357.14285rem;
            cursor: pointer;
            & a{
                @extend %Roboto_normal;
                font-size: 1.14285rem;
                line-height: 1.42857rem;
                color: #222222;
                text-align: center;
                color: #F6F2E8;
            }
        }
    }
}
.shares{
    padding: 9.28571rem 0 2.14285rem;
    &__item-title h1{
        @extend %Roboto_normal;
        font-size: 10.71428rem;
        line-height: 10.71428rem;
        text-align: center;
        color: #0A151B;
    }
}
.collaborative{
    padding: 39.78571rem 0  6.07142rem;
    background-image: url(../images/background/bg-top.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    &__item-title{
        display: flex;
        flex-direction:column;
        align-items: center;
        margin-bottom: 2.32142rem; 
    }
    &__item-title h3{
        @extend %Roboto_normal;
        font-size: 5.71428rem;
        line-height: 5.71428rem;
        text-align: center;
        color: #0A151B;
        margin-bottom:0.89285rem ;
    }
    &__item-title span{
        margin-bottom: 0.89285rem;
    }
    &__item-text span{
        @extend %Roboto_normal;
        font-size: 1.57142rem;
        line-height: 2.14285rem;
        text-align: center;
        color: #0A151B;
    }
    &__item-text{
        max-width: 60.71428rem;
        margin: 0 auto; 
    }
}
.presentation{
    padding: 6.07142rem 0 5.60714rem;
    &__item-video{
        width: fit-content;
        margin: 0 auto;
    }
}

.reveal{
    padding: 7.85714rem 0 5.60714rem;
    &__item-counter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 17.28571rem;
        & .reveal__item-status h2{
            @extend %Roboto_normal;
            font-size: 8.57142rem;
            line-height: 8.57142rem;
            text-align: center;
            color: #7E64FF;
        }
        & .reveal__item-status span{
            @extend %Roboto_normal;
            font-size: 1.57142rem;
            line-height: 5.71428rem;
            color: #7E64FF;
        }
        & .reveal__item-status{
            margin-bottom: 3.14285rem;
            display: flex;
            align-items: end;
            justify-content: space-evenly;
        }
        & .reveal__item-text p{
            max-width: 22.28571rem;
            @extend %Roboto_normal;
            font-size: 1.28571rem;
            line-height: 2rem;
            text-align: center;
            color: #0A151B;
        }
    }
    &__item-title h3{
        @extend %Roboto_normal;
        font-size: 7.14285rem;
        line-height: 7.14285rem;
        text-align: center;
        color: #0A151B; 
    }
    &__item-title{
        max-width: 49.28571rem;
        margin: 0 auto;
    }

}
.partners{
    padding: 4.42857rem 0;
    background: #E2DEDA;

}
.connect{
    padding: 16.78571rem 0 13.21428rem;
    &__item-blocks{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item-block{
        max-width: 29.64285rem;
        border-radius: 0.35714rem;
        height: 54.28571rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    &__block-text{
        background: #FAFAF6;
        padding: 2.85714rem 2.14285rem;
        height: inherit;        
        & h3{
            @extend %Roboto_normal;
            font-size: 3.42857rem;
            line-height: 3.42857rem;
            text-align: center;
            color: #0A151B; 
            margin-bottom: 1.14285rem;
        }
        & h5{
            @extend %Roboto_normal;
            font-size: 1.57142rem;
            line-height: 2rem;
            text-align: center;
            color: #0A151B; 
            margin-bottom: 2.28571rem;
        }
        & p{
            @extend %Roboto_normal;
            font-size: 1.28571rem;
            line-height: 2rem;
            text-align: center;
            color: #0A151B;
        }
    }
}

.collaborate{
    padding:7.71428rem 0 9.28571rem;
    background: #000000;
    &__item-title h1{
        @extend %Roboto_normal;
        font-size: 10.71428rem;
        line-height: 12.85714rem;
        text-align: center;
        color: #F6F2E8;
    }
    &__item-link span{
        @extend %Roboto_normal;
        font-size: 1.28571rem;
        line-height: 1.42857rem;
        text-align: center;
        color: #0A151B;
    }
    &__item-title{
        width: fit-content;
        margin: 0 auto 3.92857rem; 
    }
    &__item-link{
        width: fit-content;
        margin: 0 auto;
        padding: 1.42857rem 2.28571rem;
        background: #F6F2E8;
        border-radius: 3.57142rem;
    }
}

.features{
   padding:19.71428rem 0 6.07142rem;
   &__item-contents{
       & .features__item-title p{
        @extend %Roboto_normal;
        font-size: 1.57142rem;
        line-height: 2rem;
        color: #0A151B;
       }
       & .features__item-title{
           width: fit-content;
           margin: 0 auto 4.64285rem;
       }
   }
   &__items-blocks div:last-child{
    margin-bottom: 0;
   }
   &__item-block{
       display: flex;
       justify-content: space-around;
       align-items: center;
       margin-bottom: 13.21428rem;
   }
   &__item-picture{
       max-width: 32.14285rem;
       width: 100%;
       height:39.28571rem;
       position: relative;
       background: #E2DEDA;
        border-radius: 3571.42857rem 3571.42857rem 0 0;
        & .features__picture-img{
            width: fit-content;
            margin: 2.28571rem auto 0;
        }
        & .features__picture-img--text{
            width: fit-content;
            margin: 0 auto;
        }
   }
   &__item-text{
      & h3{
        @extend %Roboto_normal;
        font-size: 4.57142rem;
        line-height: 4.57142rem;
        color: #0A151B;
        margin-bottom: 2.14285rem;
      }
      & p{
        @extend %Roboto_normal;
        font-size: 1.28571rem;
        line-height: 1.85714rem;
        color: #0A151B;
        margin-bottom: 3.21428rem;
      }
      & .features__item-btn{
          width: fit-content;
          padding: 1.42857rem 2.35714rem;
        border: 0.07142rem solid #0A151B;
        box-sizing: border-box;
        border-radius: 3.57142rem;
      }
      & .features__item-btn a{
        @extend %Roboto_normal;
        font-size: 1.28571rem;
        line-height: 1.42857rem;
        color: #0A151B;
      }
   }
}
.companies{
    padding: 6.07142rem 0 13.14285rem;
    &__item-title h2{
        @extend %Roboto_normal;
        font-size: 7.14285rem;
        line-height: 7.14285rem;
        text-align: center;
        color: #0A151B;
    }
    &__item-title{
        width: fit-content;
        margin: 0 auto 11.64285rem;
    }
    &__items-blocks{
            display: flex;
            justify-content: space-between;
            align-items: center;
        & .companies__item-block{
            background: #FAFAF6;
            border-radius: 0.35714rem;
            max-width: 29.64285rem;
            width: 100%;
        & .ompanies__block-text{
            padding: 3rem 2.85714rem 2.85714rem;
            }
        & .ompanies__block-text h4{
            @extend %Roboto_normal;
            font-size: 3rem;
            line-height: 3rem;
            text-align: center;
            color: #0A151B;
            margin-bottom: 3rem;
        }
        & .ompanies__block-text p{
            @extend %Roboto_normal;
            font-size: 1.28571rem;
            line-height: 1.85714rem;
            text-align: center;
            color: #0A151B;
            margin-bottom: 2.28571rem;
        }
        & .ompanies__block-btn a{
            @extend %Roboto_normal;
            font-size: 1.28571rem;
            line-height: 1.42857rem;
            text-align: center;
            color: #0A151B;  
        }
        & .ompanies__block-btn{
            width: fit-content;
            padding: 1.42857rem 2.35714rem;
            border: 0.07142rem solid #0A151B;
            box-sizing: border-box;
            border-radius: 3.57142rem;
            margin: 0 auto;
        }
        
        }
    }
}
.ecosystem{
    padding: 5.71428rem 0 6.78571rem;
    background: #0A151B;
    &__item-slider{
        position: relative;
        & .ecosystem__post-photo{
            width: fit-content;
            margin: 0 auto 3.78571rem;            
        }
        & .ecosystem__post-photo img{
            border-radius: 357.14285rem 357.14285rem 0px 0px;
        }
        & .ecosystem__post-title{
            width: fit-content;
            margin: 0 auto 2.85714rem;
        }
        & .ecosystem__post-title h2{
            @extend %Roboto_normal;
            font-size: 4.64285rem;
            line-height: 5rem;
            text-align: center;
            color: #F6F2E8;
        }
        & .ecosystem__post-link{
            width: fit-content;
            margin: 0 auto;
            & .ecosystem__post-link--title p{
                @extend %Roboto_normal;
                font-size: 1.28571rem;
                line-height: 2rem;
                text-align: center;
                color: #F6F2E8;
            }
            & .ecosystem__post-link--open a{
                @extend %Roboto_normal;
                font-size: 1.21428rem;
                line-height: 2rem;
                text-align: center;
                color: #7E64FF;
            }
            & .ecosystem__post-link--open{
                margin-bottom: 5rem;
            }
        }
        & .slick-dots{
            display: flex;
            justify-content: center;  
            align-items: center;
            & li{
                padding: 0 1.57142rem;
            }
            & li.slick-active{
              & button{
                background: #7E64FF;

               }
            }
            & button{
                padding: 0;
                font-size: 0;
                background-color: #8D8F9D;
                color: #8D8F9D;
                border: none;
                width: 1rem;
                height: 1rem;
            }      

        }
        & .slick-arrow{
            z-index: 100;
            background-color: #0A151B;;
            padding: 1.71428rem 1.42857rem;
            position: absolute;
            top: 50%;
            background: transparent;
            border: 0.07142rem solid #F6F2E8;
            box-sizing: border-box;
            border-radius: 50%;
            font-size: 0;
            cursor: pointer;
        }
        & .slick-prev{
            left: 0;
        }
        & .slick-next{
            right: 0;
        }
    }
}




.those{
    padding: 11.71428rem 0 12.71428rem;
    &__item-title h2{
        @extend %Roboto_normal;
                font-size: 10rem;
                line-height: 10rem;
                text-align: center;
                color: #0A151B;
    }
    &__item-title{
        width: fit-content;
        margin: 0 auto 13.92857rem;
    }
    &__items-content div:not(:last-child){
        margin-bottom: 13.14285rem;
    }
    &__item-block{
        display: flex;
        justify-content: space-around;
        align-items: center;
        & .those__item-photo img{
            border-radius: 3571.42857rem 3571.42857rem 0px 0px;
        }
        & .those__item-texts h3{
            @extend %Roboto_normal;
                font-size: 4.57142rem;
                line-height: 4.57142rem;
                text-align: left;
                color: #0A151B;
                margin-bottom: 3rem;
        }
        & .those__item-texts p{
            @extend %Roboto_normal;
            font-size: 1.28571rem;
            line-height: 1.85714rem;
            text-align: left;
            color: #0A151B;
            max-width: 40.71428rem;
            margin-bottom: 4.28571rem;
        }
        & .those__item-btn{
            width: fit-content;
            padding: 1.42857rem 2.35714rem;
            border: 0.07142rem solid #0A151B;
            box-sizing: border-box;
            border-radius: 3.57142rem;
        }
        & .those__item-btn a{
            @extend %Roboto_normal;
            font-size: 1.28571rem;
            line-height: 1.42857rem;
            text-align: left;
            color: #0A151B;
        }
    }
}

.initiation{
    padding: 12.71428rem 0 14.28571rem;
    background-image: url(../images/background/bg-bottom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    &__item-title h2{
        @extend %Roboto_normal;
        font-size: 5.71428rem;
        line-height: 5.71428rem;
        text-align: center;
        color: #0A151B;
    }
    &__item-title{
        margin-bottom: 9.78571rem;
    }
    &__item-btn{
        background: #0A151B;
        width: fit-content;
        margin: 0 auto;
        padding: 1.42857rem 2.35714rem;
        border: 0.07142rem solid #0A151B;
        box-sizing: border-box;
        border-radius: 3.57142rem;
    }
    &__item-btn a{
        @extend %Roboto_normal;
        font-size: 1.28571rem;
        line-height: 1.42857rem;
        text-align: left;
        color: #F6F2E8;
    }
}



.footer{
    background: #0A151B;
    padding: 5.35714rem 0 3.57142rem;
    &__item-content{
        width: 1065px;
    }
    &__item-lnks{
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding-bottom: 3.35714rem;
    }
    &__list{
        & .footer__list-item a{
            @extend %Roboto_normal;
            font-size: 1rem;
            line-height: 1.42857rem;
            text-align: left;
            color: #F6F2E8;
        }
        & li:first-child a{
            font-size: 1.14285rem;  
        }
        & .footer__list-item{
            padding: 0.35714rem 0;
        }
        & li:not(:last-child){
            margin-bottom: 0.42857rem;
        }
    }
    &__copyright{
        padding: 3.57142rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.14285rem solid rgba(255, 255, 255, 0.08);
       &-company span, &-list--item a{
        @extend %Roboto_normal;
        font-size: 1.14285rem;
        line-height: 1.42857rem;
        color: #838383;
       }
       &-list{
           display: flex;
           align-items: center;
           & li:not(:first-child){
               margin-left: 2.14285rem;
           }
       }
       &-btns{
           display: flex;
           align-items: center;
        & div:nth-child(2){
            margin-left: 1.78571rem;
        }
       }
       &-btn{
            width: 2.85714rem;
            height: 2.85714rem;
            padding: 0.71428rem;
            border: 0.07142rem solid #7E64FF;
            border-radius: 35.71428rem;
       }
    }
    &__items-elements{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 3.57142rem;
      & .footer__element-backtop button{
            padding: 1.14285rem 2.35714rem;
            border: 0.07142rem solid #7E64FF;
            border-radius: 3.57142rem;
            background: transparent;
            @extend %Roboto_normal;
            font-size: 1.28571rem;
            line-height: 1.42857rem;
            color: #F6F2E8;
            cursor: pointer;
      }
    }


}


@import "media";