html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  height: 100%;
  font-size: 14px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  background: #F6F2E7;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0 0.71428rem;
  max-width: 94rem;
  width: 100%;
}

.container_full {
  margin: 0 auto;
  padding: 0 0.71428rem;
  max-width: 98.57142rem;
  width: 100%;
}

.header .menu__list-item a,
.header .menu__item-btn a,
.shares__item-title h1,
.collaborative__item-title h3,
.collaborative__item-text span,
.reveal__item-counter .reveal__item-status h2,
.reveal__item-counter .reveal__item-status span,
.reveal__item-counter .reveal__item-text p,
.reveal__item-title h3,
.connect__block-text h3,
.connect__block-text h5,
.connect__block-text p,
.collaborate__item-title h1,
.collaborate__item-link span,
.features__item-contents .features__item-title p,
.features__item-text h3,
.features__item-text p,
.features__item-text .features__item-btn a,
.companies__item-title h2,
.companies__items-blocks .companies__item-block .ompanies__block-text h4,
.companies__items-blocks .companies__item-block .ompanies__block-text p,
.companies__items-blocks .companies__item-block .ompanies__block-btn a,
.ecosystem__item-slider .ecosystem__post-title h2,
.ecosystem__item-slider .ecosystem__post-link .ecosystem__post-link--title p,
.ecosystem__item-slider .ecosystem__post-link .ecosystem__post-link--open a,
.those__item-title h2,
.those__item-block .those__item-texts h3,
.those__item-block .those__item-texts p,
.those__item-block .those__item-btn a,
.initiation__item-title h2,
.initiation__item-btn a,
.footer__list .footer__list-item a,
.footer__copyright-company span,
.footer__copyright-list--item a,
.footer__items-elements .footer__element-backtop button {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: 'Name font';
  font-style: normal;
  font-weight: 0;
  font-display: swap;
  src: url() format("");
  unicode-range: 0;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.header {
  background: #F6F2E7;
  padding: 1.14285rem 0;
}

.header__inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .menu {
  padding: 0.5rem 0.78571rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0.07142rem solid #D6D6D6;
  border-radius: 357.14285rem;
  max-width: 52.5rem;
  width: 100%;
}

.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .menu__list-item {
  margin: 0 0.85714rem;
}

.header .menu__list-item a {
  font-size: 1.14285rem;
  line-height: 1.42857rem;
  color: #222222;
}

.header .menu__item-btn {
  padding: 1.07142rem 1.78571rem;
  background: #0A151B;
  border: 0.07142rem solid #0A151B;
  border-radius: 357.14285rem;
  cursor: pointer;
}

.header .menu__item-btn a {
  font-size: 1.14285rem;
  line-height: 1.42857rem;
  color: #222222;
  text-align: center;
  color: #F6F2E8;
}

.shares {
  padding: 9.28571rem 0 2.14285rem;
}

.shares__item-title h1 {
  font-size: 10.71428rem;
  line-height: 10.71428rem;
  text-align: center;
  color: #0A151B;
}

.collaborative {
  padding: 39.78571rem 0  6.07142rem;
  background-image: url(../images/background/bg-top.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.collaborative__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2.32142rem;
}

.collaborative__item-title h3 {
  font-size: 5.71428rem;
  line-height: 5.71428rem;
  text-align: center;
  color: #0A151B;
  margin-bottom: 0.89285rem;
}

.collaborative__item-title span {
  margin-bottom: 0.89285rem;
}

.collaborative__item-text span {
  font-size: 1.57142rem;
  line-height: 2.14285rem;
  text-align: center;
  color: #0A151B;
}

.collaborative__item-text {
  max-width: 60.71428rem;
  margin: 0 auto;
}

.presentation {
  padding: 6.07142rem 0 5.60714rem;
}

.presentation__item-video {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.reveal {
  padding: 7.85714rem 0 5.60714rem;
}

.reveal__item-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 17.28571rem;
}

.reveal__item-counter .reveal__item-status h2 {
  font-size: 8.57142rem;
  line-height: 8.57142rem;
  text-align: center;
  color: #7E64FF;
}

.reveal__item-counter .reveal__item-status span {
  font-size: 1.57142rem;
  line-height: 5.71428rem;
  color: #7E64FF;
}

.reveal__item-counter .reveal__item-status {
  margin-bottom: 3.14285rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.reveal__item-counter .reveal__item-text p {
  max-width: 22.28571rem;
  font-size: 1.28571rem;
  line-height: 2rem;
  text-align: center;
  color: #0A151B;
}

.reveal__item-title h3 {
  font-size: 7.14285rem;
  line-height: 7.14285rem;
  text-align: center;
  color: #0A151B;
}

.reveal__item-title {
  max-width: 49.28571rem;
  margin: 0 auto;
}

.partners {
  padding: 4.42857rem 0;
  background: #E2DEDA;
}

.connect {
  padding: 16.78571rem 0 13.21428rem;
}

.connect__item-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.connect__item-block {
  max-width: 29.64285rem;
  border-radius: 0.35714rem;
  height: 54.28571rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.connect__block-text {
  background: #FAFAF6;
  padding: 2.85714rem 2.14285rem;
  height: inherit;
}

.connect__block-text h3 {
  font-size: 3.42857rem;
  line-height: 3.42857rem;
  text-align: center;
  color: #0A151B;
  margin-bottom: 1.14285rem;
}

.connect__block-text h5 {
  font-size: 1.57142rem;
  line-height: 2rem;
  text-align: center;
  color: #0A151B;
  margin-bottom: 2.28571rem;
}

.connect__block-text p {
  font-size: 1.28571rem;
  line-height: 2rem;
  text-align: center;
  color: #0A151B;
}

.collaborate {
  padding: 7.71428rem 0 9.28571rem;
  background: #000000;
}

.collaborate__item-title h1 {
  font-size: 10.71428rem;
  line-height: 12.85714rem;
  text-align: center;
  color: #F6F2E8;
}

.collaborate__item-link span {
  font-size: 1.28571rem;
  line-height: 1.42857rem;
  text-align: center;
  color: #0A151B;
}

.collaborate__item-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 3.92857rem;
}

.collaborate__item-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 1.42857rem 2.28571rem;
  background: #F6F2E8;
  border-radius: 3.57142rem;
}

.features {
  padding: 19.71428rem 0 6.07142rem;
}

.features__item-contents .features__item-title p {
  font-size: 1.57142rem;
  line-height: 2rem;
  color: #0A151B;
}

.features__item-contents .features__item-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 4.64285rem;
}

.features__items-blocks div:last-child {
  margin-bottom: 0;
}

.features__item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 13.21428rem;
}

.features__item-picture {
  max-width: 32.14285rem;
  width: 100%;
  height: 39.28571rem;
  position: relative;
  background: #E2DEDA;
  border-radius: 3571.42857rem 3571.42857rem 0 0;
}

.features__item-picture .features__picture-img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2.28571rem auto 0;
}

.features__item-picture .features__picture-img--text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.features__item-text h3 {
  font-size: 4.57142rem;
  line-height: 4.57142rem;
  color: #0A151B;
  margin-bottom: 2.14285rem;
}

.features__item-text p {
  font-size: 1.28571rem;
  line-height: 1.85714rem;
  color: #0A151B;
  margin-bottom: 3.21428rem;
}

.features__item-text .features__item-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.42857rem 2.35714rem;
  border: 0.07142rem solid #0A151B;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3.57142rem;
}

.features__item-text .features__item-btn a {
  font-size: 1.28571rem;
  line-height: 1.42857rem;
  color: #0A151B;
}

.companies {
  padding: 6.07142rem 0 13.14285rem;
}

.companies__item-title h2 {
  font-size: 7.14285rem;
  line-height: 7.14285rem;
  text-align: center;
  color: #0A151B;
}

.companies__item-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 11.64285rem;
}

.companies__items-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.companies__items-blocks .companies__item-block {
  background: #FAFAF6;
  border-radius: 0.35714rem;
  max-width: 29.64285rem;
  width: 100%;
}

.companies__items-blocks .companies__item-block .ompanies__block-text {
  padding: 3rem 2.85714rem 2.85714rem;
}

.companies__items-blocks .companies__item-block .ompanies__block-text h4 {
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  color: #0A151B;
  margin-bottom: 3rem;
}

.companies__items-blocks .companies__item-block .ompanies__block-text p {
  font-size: 1.28571rem;
  line-height: 1.85714rem;
  text-align: center;
  color: #0A151B;
  margin-bottom: 2.28571rem;
}

.companies__items-blocks .companies__item-block .ompanies__block-btn a {
  font-size: 1.28571rem;
  line-height: 1.42857rem;
  text-align: center;
  color: #0A151B;
}

.companies__items-blocks .companies__item-block .ompanies__block-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.42857rem 2.35714rem;
  border: 0.07142rem solid #0A151B;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3.57142rem;
  margin: 0 auto;
}

.ecosystem {
  padding: 5.71428rem 0 6.78571rem;
  background: #0A151B;
}

.ecosystem__item-slider {
  position: relative;
}

.ecosystem__item-slider .ecosystem__post-photo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 3.78571rem;
}

.ecosystem__item-slider .ecosystem__post-photo img {
  border-radius: 357.14285rem 357.14285rem 0px 0px;
}

.ecosystem__item-slider .ecosystem__post-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 2.85714rem;
}

.ecosystem__item-slider .ecosystem__post-title h2 {
  font-size: 4.64285rem;
  line-height: 5rem;
  text-align: center;
  color: #F6F2E8;
}

.ecosystem__item-slider .ecosystem__post-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.ecosystem__item-slider .ecosystem__post-link .ecosystem__post-link--title p {
  font-size: 1.28571rem;
  line-height: 2rem;
  text-align: center;
  color: #F6F2E8;
}

.ecosystem__item-slider .ecosystem__post-link .ecosystem__post-link--open a {
  font-size: 1.21428rem;
  line-height: 2rem;
  text-align: center;
  color: #7E64FF;
}

.ecosystem__item-slider .ecosystem__post-link .ecosystem__post-link--open {
  margin-bottom: 5rem;
}

.ecosystem__item-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ecosystem__item-slider .slick-dots li {
  padding: 0 1.57142rem;
}

.ecosystem__item-slider .slick-dots li.slick-active button {
  background: #7E64FF;
}

.ecosystem__item-slider .slick-dots button {
  padding: 0;
  font-size: 0;
  background-color: #8D8F9D;
  color: #8D8F9D;
  border: none;
  width: 1rem;
  height: 1rem;
}

.ecosystem__item-slider .slick-arrow {
  z-index: 100;
  background-color: #0A151B;
  padding: 1.71428rem 1.42857rem;
  position: absolute;
  top: 50%;
  background: transparent;
  border: 0.07142rem solid #F6F2E8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
}

.ecosystem__item-slider .slick-prev {
  left: 0;
}

.ecosystem__item-slider .slick-next {
  right: 0;
}

.those {
  padding: 11.71428rem 0 12.71428rem;
}

.those__item-title h2 {
  font-size: 10rem;
  line-height: 10rem;
  text-align: center;
  color: #0A151B;
}

.those__item-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 13.92857rem;
}

.those__items-content div:not(:last-child) {
  margin-bottom: 13.14285rem;
}

.those__item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.those__item-block .those__item-photo img {
  border-radius: 3571.42857rem 3571.42857rem 0px 0px;
}

.those__item-block .those__item-texts h3 {
  font-size: 4.57142rem;
  line-height: 4.57142rem;
  text-align: left;
  color: #0A151B;
  margin-bottom: 3rem;
}

.those__item-block .those__item-texts p {
  font-size: 1.28571rem;
  line-height: 1.85714rem;
  text-align: left;
  color: #0A151B;
  max-width: 40.71428rem;
  margin-bottom: 4.28571rem;
}

.those__item-block .those__item-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.42857rem 2.35714rem;
  border: 0.07142rem solid #0A151B;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3.57142rem;
}

.those__item-block .those__item-btn a {
  font-size: 1.28571rem;
  line-height: 1.42857rem;
  text-align: left;
  color: #0A151B;
}

.initiation {
  padding: 12.71428rem 0 14.28571rem;
  background-image: url(../images/background/bg-bottom.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.initiation__item-title h2 {
  font-size: 5.71428rem;
  line-height: 5.71428rem;
  text-align: center;
  color: #0A151B;
}

.initiation__item-title {
  margin-bottom: 9.78571rem;
}

.initiation__item-btn {
  background: #0A151B;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 1.42857rem 2.35714rem;
  border: 0.07142rem solid #0A151B;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3.57142rem;
}

.initiation__item-btn a {
  font-size: 1.28571rem;
  line-height: 1.42857rem;
  text-align: left;
  color: #F6F2E8;
}

.footer {
  background: #0A151B;
  padding: 5.35714rem 0 3.57142rem;
}

.footer__item-content {
  width: 1065px;
}

.footer__item-lnks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  padding-bottom: 3.35714rem;
}

.footer__list .footer__list-item a {
  font-size: 1rem;
  line-height: 1.42857rem;
  text-align: left;
  color: #F6F2E8;
}

.footer__list li:first-child a {
  font-size: 1.14285rem;
}

.footer__list .footer__list-item {
  padding: 0.35714rem 0;
}

.footer__list li:not(:last-child) {
  margin-bottom: 0.42857rem;
}

.footer__copyright {
  padding: 3.57142rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 0.14285rem solid rgba(255, 255, 255, 0.08);
}

.footer__copyright-company span,
.footer__copyright-list--item a {
  font-size: 1.14285rem;
  line-height: 1.42857rem;
  color: #838383;
}

.footer__copyright-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__copyright-list li:not(:first-child) {
  margin-left: 2.14285rem;
}

.footer__copyright-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__copyright-btns div:nth-child(2) {
  margin-left: 1.78571rem;
}

.footer__copyright-btn {
  width: 2.85714rem;
  height: 2.85714rem;
  padding: 0.71428rem;
  border: 0.07142rem solid #7E64FF;
  border-radius: 35.71428rem;
}

.footer__items-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 3.57142rem;
}

.footer__items-elements .footer__element-backtop button {
  padding: 1.14285rem 2.35714rem;
  border: 0.07142rem solid #7E64FF;
  border-radius: 3.57142rem;
  background: transparent;
  font-size: 1.28571rem;
  line-height: 1.42857rem;
  color: #F6F2E8;
  cursor: pointer;
}